a:link{
    text-decoration:none;
    color:white;
}
a:visited{
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:underline;
    color:white;
}
a:active{
    text-decoration:none;
    color:white;
}
#space-of-poster-4-new{
	margin-left:10%;
}
#loading{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}
#loading-image{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}
@media only screen and (min-width:200px) and (max-width:1200px){
	#moneyforstory{
		display:none;
	}
	#moneyforstory h1{
		display:none;
	}
	#moneyforstory p{
		display:none;
	}
	#moneyforstory2{
		background-color:rgb(16, 37, 63);
		width:100%;
		height:200px;
		margin:-8px;
		padding-right:16px;
		margin-top:-50px;
	}
	#moneyforstory2 h1{
		color:white;
		text-align:center;
		padding-top:50px;
		font-size:35px;
		font-family:Algerian, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#menu-click{
		background-color:black;
		color:white;
		margin-right:-16px;
		margin-top:80px;
		text-align:center;
		font-family:Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		position:relative;
	}
	#menu{
		cursor:pointer;
		font-size:35px;
	}
	#menu-down{
		font-size:20px;
		padding-bottom:17px;
	}
	#post-story{
		margin-left:10%;
		float:left;
		width:90%;
	}
	#poster{
		width:90%;
		height:160px;
		border-style:solid;
		border-width:3px;
		border-color:rgb(16, 37, 63);
		font-family:Calibri;
		font-size:20px;
		overflow:hidden;
	}
	#submitpost{
		width:200px;
		height:40px;
		border-width:0px;
		background-color:black;
		font-family:Calibri;
		font-size:20px;
		color:white;
		border-radius:5px;
	}
	#side-bar{
		display:none;
	}
	.about-moneyforstory{
		color:white;
		font-family:Calibri;
		font-size:20px;
		background-color:rgb(16, 37, 63);
		margin-top:0px;
		padding-top:3px;
		padding-bottom:3px;
		padding-left:10px;
	}
	.about-des{
		color:white;
		font-family:Calibri;
		padding-left:10px;
		font-size:18px;
	}
	.about-des span{
		font-size:12px;
	}
	.clear-float{
		clear:both;
	}
	.story-posted{
		margin-left:5%;
		float:left;
		width:90%;
		height:auto;
		padding:1%;
		background-color:rgb(16, 37, 63);
		margin-top:60px;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		border-radius:10px;
	}
	#name{
		float:left;
		margin-left:10%;
		background-color:black;
		color:white;
		padding:1%;
		border-radius:10px;
		font-size:23px;
	}
	#date{
		float:right;
		margin-right:10%;
		background-color:black;
		color:white;
		padding:1%;
		border-radius:10px;
		font-size:23px;
	}
	#story-teller{
		clear:both;
		margin-left:10%;
		width:80%;
		background-color:white;
		color:black;
		height:auto;
		padding:1%;
		font-size:20px;
		border-radius:5px;
	}
	#comment-display{
		margin-left:10%;
		width:50%;
		background-color:white;
		color:black;
		padding:1%;
		font-size:20px;
		border-radius:5px;
	}
	#stories form{
		margin-left:10%;
		width:50%;
		background-color:white;
		color:black;
		padding:1%;
		font-size:23px;
		border-radius:5px;
	}
	#comment-submission{
		width:40%;
		height:30px;
		border-width:0px;
		background-color:black;
		font-family:Calibri;
		font-size:20px;
		color:white;
		border-radius:5px;
	}
	#names{
		width:50%;
		height:30px;
		border-width:0px;
		font-family:Calibri;
		font-size:20px;
		border-radius:5px;
	}
	#comments{
		width:100%;
		height:60px;
		border-width:0px;
		font-family:Calibri;
		font-size:20px;
		border-radius:5px;
		overflow:hidden;
	}
	#side-bar-2{
		background-color:black;
		margin-left:5%;
		width:90%;
		padding:1%;
		height:auto;
		margin-top:50px;
		border-radius:10px;
		text-align:justify;
	}
	footer{
		margin-top:-150px;
		background-color:rgb(16, 37, 63);
		width:100%;
		height:280px;
		margin:-8px;
		padding-right:16px;
	}
	#contact{
		text-align:center;
		padding-top:10px;
		color:white;
		font-size:23px;
	}
	#p-and-p{
		text-align:center;
		color:white;
		font-size:23px;
	}
	#copyright{
		text-align:center;
		padding-top:10px;
		color:white;
		font-size:23px;
	}
	#about-us{
		text-align:center;
		padding-top:10px;
		color:white;
		font-size:23px;
	}
	.reg{
		width:120%;
		height:33px;
		border-style:solid;
		font-size:20px;
		border-width:2px;
		border-color:rgb(16, 37, 63);
		margin-top:10px;
		margin-bottom:10px;
	}
	#reg-story{
		margin-left:5%;
		float:left;
		width:90%;
		text-align:justify;
		font-size:22px;
	}
	#reg-story-1{
		margin-left:15%;
		float:left;
		width:63%;
		font-size:30px;
	}
	#reg-story-2{
		margin-left:5%;
		float:left;
		width:60%;
		text-align:justify;
		font-size:25px;
	}
	#welcome{
		font-size:35px;
		color:rgb(16, 37, 63);
		text-align:left;
	}
	#welcome-1{
		margin-left:-15%;
		font-size:35px;
		color:rgb(16, 37, 63);
	}
	#fp{
		font-size:25px;
		color:rgb(16, 37, 63);
	}
	#account-location{
		margin-left:-18%;
		width:150%;
		height:auto;
		padding-bottom:2%;
		background-color:rgb(16, 37, 63);
		border-radius:10px;
	}
	#links-in-account{
		background-color:black;
		width:100%;
		height:210px;
		border-radius:10px 10px 0px 0px;
		font-size:20px;
		color:white;
		font-family:Calibri, 'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#s-a-s{
		padding-left:10px;
		float:left;
		font-size:17px;
		color:white;
		padding-right:10px;
		cursor:pointer;
	}
	#e-p{
		float:left;
		font-size:17px;
		color:white;
		padding-left:10px;
		padding-right:10px;
		cursor:pointer;
	}
	#a{
		float:left;
		font-size:17px;
		color:white;
		padding-left:10px;
		padding-right:10px;
		cursor:pointer;
	}
	#edit-p{
		float:left;
		font-size:17px;
		color:white;
		padding-left:10px;
		padding-right:10px;
		cursor:pointer;
	}
	#message{
		float:left;
		font-size:17px;
		color:white;
		padding-left:10px;
		padding-right:10px;
		cursor:pointer;
	}
	#settings{
		float:left;
		font-size:17px;
		color:white;
		padding-left:10px;
		padding-right:10px;
		cursor:pointer;
	}
	#space-of-poster{
		padding-top:10%;
		padding-left:10%;
	}
	#space-of-poster-2{
		padding-left:10%;
		color:white;
		font-size:24px;
	}
	#space-of-poster-3{
		padding-left:10%;
		color:white;
		font-size:24px;
	}
	#space-of-poster-4{
		padding-top:10%;
		padding-left:10%;
	}
	#space-of-poster-5{
		padding-top:10%;
		padding-left:10%;
	}
	#space-of-poster-6{
		padding-left:10%;
		color:white;
		font-size:24px;
		padding-right:10%;
	}
	#poster-new{
		width:90%;
		height:160px;
		border-style:solid;
		border-width:3px;
		border-color:rgb(16, 37, 63);
		font-family:Calibri;
		font-size:20px;
		overflow:hidden;
		border-radius:10px;
	}
	.reg-2{
		width:90%;
		height:33px;
		border-style:solid;
		font-size:20px;
		border-width:2px;
		border-color:rgb(16, 37, 63);
		margin-top:10px;
		margin-bottom:10px;
	}
	#submitpost-2{
		width:200px;
		height:40px;
		border-width:0px;
		background-color:black;
		font-family:Calibri;
		font-size:20px;
		color:white;
		border-radius:5px;
	}
	.reg-bio{
		width:90%;
		height:100px;
		font-family:Calibri;
		border-style:solid;
		font-size:20px;
		border-width:2px;
		border-color:rgb(16, 37, 63);
		margin-top:10px;
		margin-bottom:10px;
		overflow:hidden;
	}
	#cp{
		font-size:35px;
		color:darkred;
	}
	#profile-edit{
		padding-top:30px;
		padding-bottom:20px;
	}
	#realchat{
		background-color:white;
		width:100%;
		height:auto;
		color:black;
	}
	#name-user{
		color:rgb(16, 37, 63);
		float:left;
		margin-left:1%;
		font-size:20px;
	}
	#date-2{
		float:right;
		background-color:rgb(16, 37, 63);
		border-radius:0px 10px 0px 10px;
		color:white;
		margin-top:3px;
		margin-right:3px;
		font-size:17px;
	}
	#mess{
		background-color:white;
		clear:both;
		margin-left:5%;
		color:black;
		font-size:20px;
	}
	#wherechatischat{
		height:auto;
		width:90%;
	}
	#form-submission{
		background-color:black;
		color:white;
		margin-right:-20%;
		padding:1%;
		text-align:left;
	}
	.new-post{
		width:80%;
	}
	#notfoundmessage{
		background-color:black;
		padding:1%;
		color:white;
		border-radius:10px;
	}
	#down-draw-paint{
		background-color:rgb(16, 37, 63);
		width:100%;
		height:50px;
		margin-top:10px;
		margin:-8px;
		padding-right:24px;
	}
	#like{
		width:100%;
		margin-left:6%;
	}
	#comment-submission-like{
		width:100%;
		height:30px;
		border-width:0px;
		background-color:black;
		font-family:Calibri;
		font-size:20px;
		color:white;
		border-radius:5px;
	}
	#like-form{
		float:left;
		width:50%;
	}
	#dislike-form{
		float:right;
		width:50%;
	}
	.social{
		width:30px;
		height:30px;
	}
}
@media only screen and (min-width:1200px){
	#moneyforstory{
		background-color:rgb(16, 37, 63);
		width:100%;
		height:200px;
		margin:-8px;
		padding-right:16px;
		margin-top:-50px;
	}
	#moneyforstory h1{
		color:white;
		margin-left:20%;
		padding-top:50px;
		font-size:70px;
		font-family:Algerian, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#moneyforstory p{
		background-color:black;
		color:white;
		margin-left:0px;
		font-size:30px;
		padding-left:18%;
		margin-right:-16px;
		font-family:Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#moneyforstory2{
		display:none;
	}
	#moneyforstory2 h1{
		display:none;
	}
	#menu-click{
		display:none;
	}
	#menu{
		display:none;
	}
	#menu-down{
		display:none;
	}
	.links{
		padding-left:30px;
	}
	#post-story{
		margin-left:20%;
		float:left;
		width:55%;
	}
	#poster{
		width:90%;
		height:160px;
		border-style:solid;
		border-width:3px;
		border-color:rgb(16, 37, 63);
		font-family:Calibri;
		font-size:20px;
		overflow:hidden;
	}
	#submitpost{
		width:200px;
		height:40px;
		border-width:0px;
		background-color:black;
		font-family:Calibri;
		font-size:20px;
		color:white;
		border-radius:5px;
	}
	#side-bar{
		background-color:black;
		float:right;
		margin-left:74%;
		width:25%;
		height:100%;
		margin-top:-245px;
		margin-right:-8px;
		position:fixed;
	}
	#side-bar-2{
		display:none;
	}
	.about-moneyforstory{
		color:white;
		font-family:Calibri;
		font-size:20px;
		background-color:rgb(16, 37, 63);
		margin-top:0px;
		padding-top:3px;
		padding-bottom:3px;
		padding-left:10px;
		border-width:2px;
		border-style:solid;
		border-color:black;
	}
	.about-des{
		color:white;
		font-family:Calibri;
		padding-left:10px;
		font-size:18px;
		text-align:justify;
		padding-right:1%;
	}
	.about-des span{
		font-size:12px;
	}
	.clear-float{
		clear:both;
	}
	.story-posted{
		margin-left:20%;
		float:left;
		width:48%;
		height:auto;
		padding:1%;
		background-color:rgb(16, 37, 63);
		margin-top:60px;
		font-family:'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
		border-radius:10px;
	}
	#name{
		float:left;
		margin-left:10%;
		background-color:black;
		color:white;
		padding:1%;
		border-radius:10px;
		font-size:23px;
	}
	#date{
		float:right;
		margin-right:10%;
		background-color:black;
		color:white;
		padding:1%;
		border-radius:10px;
		font-size:23px;
	}
	#story-teller{
		clear:both;
		margin-left:10%;
		width:80%;
		background-color:white;
		color:black;
		height:auto;
		padding:1%;
		font-size:25px;
		border-radius:5px;
	}
	#comment-display{
		margin-left:10%;
		width:50%;
		background-color:white;
		color:black;
		padding:1%;
		font-size:23px;
		border-radius:5px;
	}
	#stories form{
		margin-left:10%;
		width:50%;
		background-color:white;
		color:black;
		padding:1%;
		font-size:23px;
		border-radius:5px;
	}
	#comment-submission{
		width:20%;
		height:30px;
		border-width:0px;
		background-color:black;
		font-family:Calibri;
		font-size:20px;
		color:white;
		border-radius:5px;
	}
	#names{
		width:50%;
		height:30px;
		border-width:0px;
		font-family:Calibri;
		font-size:20px;
		border-radius:5px;
	}
	#comments{
		width:100%;
		height:60px;
		border-width:0px;
		font-family:Calibri;
		font-size:20px;
		border-radius:5px;
		overflow:hidden;
	}
	footer{
		margin-top:-150px;
		background-color:rgb(16, 37, 63);
		width:100%;
		height:150px;
		margin:-8px;
		padding-right:16px;
	}
	#contact{
		margin-left:20%;
		float:left;
		color:white;
		font-size:23px;
	}
	#p-and-p{
		margin-right:20%;
		float:right;
		color:white;
		font-size:23px;
	}
	#copyright{
		text-align:center;
		padding-top:10px;
		color:white;
		font-size:23px;
	}
	#about-us{
		text-align:center;
		padding-top:10px;
		color:white;
		font-size:23px;
	}
	.reg{
		width:80%;
		height:33px;
		border-style:solid;
		font-size:20px;
		border-width:2px;
		border-color:rgb(16, 37, 63);
		margin-top:10px;
		margin-bottom:10px;
	}
	#reg-story{
		margin-left:20%;
		float:left;
		width:52%;
		text-align:justify;
		font-size:30px;
	}
	#reg-story-1{
		margin-left:20%;
		float:left;
		width:55%;
		font-size:30px;
	}
	#reg-story-2{
		margin-left:20%;
		float:left;
		width:52%;
		text-align:justify;
		font-size:30px;
	}
	#welcome{
		font-size:40px;
		color:rgb(16, 37, 63);
	}
	#welcome-1{
		font-size:40px;
		color:rgb(16, 37, 63);
	}
	#fp{
		font-size:25px;
		color:rgb(16, 37, 63);
	}
	#account-location{
		width:90%;
		height:auto;
		padding-bottom:1%;
		background-color:rgb(16, 37, 63);
		border-radius:10px;
	}
	#links-in-account{
		background-color:black;
		width:100%;
		height:100px;
		border-radius:10px 10px 0px 0px;
		font-size:20px;
		color:white;
		font-family:Calibri, 'Times New Roman', Calibri, 'Charlemagne Std', 'Copperplate Gothic Bold', 'Rosewood Std Regular';
	}
	#s-a-s{
		padding-left:10px;
		float:left;
		font-size:17px;
		color:white;
		padding-right:10px;
		cursor:pointer;
	}
	#e-p{
		float:left;
		font-size:17px;
		color:white;
		padding-left:10px;
		padding-right:10px;
		cursor:pointer;
	}
	#a{
		float:left;
		font-size:17px;
		color:white;
		padding-left:10px;
		padding-right:10px;
		cursor:pointer;
	}
	#edit-p{
		float:left;
		font-size:17px;
		color:white;
		padding-left:10px;
		padding-right:10px;
		cursor:pointer;
	}
	#message{
		float:left;
		font-size:17px;
		color:white;
		padding-left:10px;
		padding-right:10px;
		cursor:pointer;
	}
	#settings{
		float:left;
		font-size:17px;
		color:white;
		padding-left:10px;
		padding-right:10px;
		cursor:pointer;
	}
	#space-of-poster{
		padding-top:10%;
		padding-left:10%;
	}
	#space-of-poster-2{
		padding-left:10%;
		color:white;
	}
	#space-of-poster-3{
		padding-left:10%;
		color:white;
	}
	#space-of-poster-4{
		padding-top:10%;
		padding-left:10%;
	}
	#space-of-poster-5{
		padding-top:10%;
		padding-left:10%;
	}
	#space-of-poster-6{
		padding-left:10%;
		color:white;
		padding-right:10%;
	}
	#poster-new{
		width:90%;
		height:160px;
		border-style:solid;
		border-width:3px;
		border-color:rgb(16, 37, 63);
		font-family:Calibri;
		font-size:20px;
		overflow:hidden;
		border-radius:10px;
	}
	.reg-2{
		width:90%;
		height:33px;
		border-style:solid;
		font-size:20px;
		border-width:2px;
		border-color:rgb(16, 37, 63);
		margin-top:10px;
		margin-bottom:10px;
	}
	#submitpost-2{
		width:200px;
		height:40px;
		border-width:0px;
		background-color:black;
		font-family:Calibri;
		font-size:20px;
		color:white;
		border-radius:5px;
	}
	.reg-bio{
		width:90%;
		height:100px;
		font-family:Calibri;
		border-style:solid;
		font-size:20px;
		border-width:2px;
		border-color:rgb(16, 37, 63);
		margin-top:10px;
		margin-bottom:10px;
		overflow:hidden;
	}
	#cp{
		font-size:35px;
		color:darkred;
	}
	#profile-edit{
		padding-top:30px;
		padding-bottom:20px;
	}
	#realchat{
		background-color:white;
		width:90%;
		height:auto;
		color:black;
	}
	#name-user{
		color:rgb(16, 37, 63);
		float:left;
		margin-left:1%;
		font-size:20px;
	}
	#date-2{
		float:right;
		background-color:rgb(16, 37, 63);
		border-radius:0px 10px 0px 10px;
		color:white;
		margin-top:3px;
		margin-right:3px;
		font-size:20px;
	}
	#mess{
		background-color:white;
		clear:both;
		margin-left:5%;
		color:black;
		font-size:25px;
	}
	#wherechatischat{
		height:auto;
		width:90%;
	}
	#form-submission{
		background-color:black;
		color:white;
		margin-right:50%;
		padding:1%;
		text-align:left;
	}
	#notfoundmessage{
		background-color:black;
		padding:1%;
		color:white;
		border-radius:10px;
		width:400px;
	}
	#down-draw-paint{
		background-color:rgb(16, 37, 63);
		width:100%;
		height:50px;
		margin-top:10px;
		margin:-8px;
		padding-right:24px;
	}
	#like{
		width:100%;
		margin-left:6%;
	}
	#comment-submission-like{
		width:100%;
		height:30px;
		border-width:0px;
		background-color:black;
		font-family:Calibri;
		font-size:20px;
		color:white;
		border-radius:5px;
	}
	#like-form{
		float:left;
		width:40%;
	}
	#dislike-form{
		float:right;
		width:40%;
	}
	.social{
		width:40px;
		height:40px;
	}
}